Practice Question

In [1]:
#Write a code to create a string with your name and print it.
Name = "Jigyansu Tripathi"
print(Name)

Jigyansu Tripathi

In [2]:
#write a code to find the length of the string "Hello World"
Name = "Hello World"
len(Name)

11

In [3]:
#Write a code to slice the first 3 characters from the string "Python Programming".
Text = "Python Programming"
Text[:3]

'Pyt'

In [4]:
#Write a code to convert the string "hello" to uppercase.
string = "hello"
string.upper()

'HELLO'

In [5]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple".
fruit = "I like apple"
New_friut = fruit.replace("apple","orange")
New_friut

'I like orange'

In [6]:
#Write a code to create a list with numbers 1 to 5 and print it.

In [7]:
Num_list = [1,2,3,4,5]
Num_list

[1, 2, 3, 4, 5]

In [8]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
List = [1,2,3,4]
List.append(10)
List

[1, 2, 3, 4, 10]

In [9]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list1 = [1,2,3,4,5]
list1.remove(3)
list1

[1, 2, 4, 5]

In [10]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
Access = ['a', 'b', 'c', 'd']
Access[1]

'b'

In [11]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
l1 = [10,20,30,40,50]
l1.reverse()
l1

[50, 40, 30, 20, 10]

In [12]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
t1 = (100,200,300)
print(t1)

(100, 200, 300)

In [13]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [14]:
t1 = ('red', 'green', 'blue', 'yellow')
t1[1:]

('green', 'blue', 'yellow')

In [15]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t1 = (10,20,5,15)
min(t1)

5

In [16]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t1 = ('dog', 'cat', 'rabbit')
t1.index('cat')

1

In [17]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits=("apple","orange","banana","kiwi")
if "kiwi" in fruits:
    print("yes")
else:
    print("no")

yes

In [18]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [19]:
set1={'a', 'b', 'c'}
print(set1)

{'b', 'c', 'a'}

In [20]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
s

set()

In [21]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
s

{1, 2, 3}

In [22]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1,2,3}
s2 = {3,4,5}
s1 | s2

{1, 2, 3, 4, 5}

In [23]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1,2,3}
s2 = {3,4,5}
s1 & s2

{3}

In [24]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1 = {"name":"jigyansu" ,"age":25 ,"city":"KGP" }
dict1

{'name': 'jigyansu', 'age': 25, 'city': 'KGP'}

In [25]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d1 = {'name': 'John', 'age': 25}
d1["country"]= ["USA"]
d1

{'name': 'John', 'age': 25, 'country': ['USA']}

In [26]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {'name': 'Alice', 'age': 30}
d["name"]

'Alice'

In [27]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d2.pop('age')
d2

{'name': 'Bob', 'city': 'New York'}

In [28]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d3 = {'name': 'Alice', 'city': 'Paris'}
if "city" in d3:
    print("yes city exists")
else:
    print("Did not get")

yes city exists

In [29]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
#list 
l1 = [1,2,3,4,5,6]
print(l1)
#Tuple
t1=(1,23,4,5,56,7,7)
print(t1)
#Dictionary
d1  ={"name":"jigyansu","sure_name":"tripathi","city":"satna","age":25}
print(d1)

[1, 2, 3, 4, 5, 6]
(1, 23, 4, 5, 56, 7, 7)
{'name': 'jigyansu', 'sure_name': 'tripathi', 'city': 'satna', 'age': 25}

In [30]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
List1 = [2,5,10,60,75]
List1.sort()
List1

[2, 5, 10, 60, 75]

In [31]:
#Write a code to create a list with strings and print the element at the third index.
words = ["apple","banana","orange","carrot","fish","murga"]
words[2]

'orange'

In [32]:
#Write a code to combine two dictionaries into one and print the result.
d1 = {"name":"jigyansu","sure_name":"tripathi","city":"satna","age":25}
d2 = {"Address":"krishna nagar colony, Amarpatan"}
d =(d1,d2)
print(d)

({'name': 'jigyansu', 'sure_name': 'tripathi', 'city': 'satna', 'age': 25}, {'Address': 'krishna nagar colony, Amarpatan'})

In [33]:
#Write a code to convert a list of strings into a set.
fruits=("apple","orange","banana","kiwi")
set_=set(fruits)
print(set_)

{'orange', 'apple', 'banana', 'kiwi'}